<!DOCTYPE html>
<html lang="en" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Leiva Martin">
    <title>Edit Profile</title>
    <link rel="icon" type="segador.png" href="/img/tractores.png">
    <link rel="stylesheet" href="/css/users.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/font/iconos.css">
    <!-- SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

</head>
<body>
    <header class="cabecera">
        <div class="logo-container">
            <a href="/dashboard">
                <img id="logo" src="/img/logo.png" alt="logo">
            </a>
            <img id="nombre_pagina" src="/img/nombre_pagina.png" alt="">
        </div>
        <div class="user-menu">
            <% if (user.profilePicture) { %>
                <img src="<%= user.profilePicture %>" alt="Profile Pic" class="profile-pic-avatar">
            <% } else { %>
                <img id="user-avatar" src="/img/pngwing.png" alt="Profile Pic">
            <% } %>
            <div class="dropdown-content">
                <p class="userName"><%= user.username %></p>
                <p class="userRole"><%= user.role %></p>
                <a href="/users/profile">Profile</a>
                <% if (user.role === 'student') { %>
                    <a href="/users/grades">Grades</a>
                <% } %>
                <% if (user.role === 'teacher') { %>
                    <a href="/question-bank">Create Exam</a>
                    <a href="/users/userList">Registration List</a>
                    <a href="/users/teacher-grades">Grades</a>
                <% } %>
                <a href="/api/auth/logout">Log Out</a>
            </div>
        </div>
    </header>
    <nav id='menu'>
        <input type='checkbox' id='responsive-menu'><label></label>
        <ul>
            <li><a href='/classes/first'>1st YEAR</a></li>
            <li><a href='/classes/second'>2nd YEAR</a></li>
            <li><a href='/classes/third'>3rd YEAR</a></li>
            <li><a href='/classes/fourth'>4th YEAR</a></li>
            <li><a href='/classes/fifth'>5th YEAR</a></li>
            <li><a href='/classes/sixth'>6th YEAR</a></li>
            <li><a href='/select-exam'>Interactive Tests</a></li>
        </ul>
    </nav>
    <main class="profile">
        <section class="profile-section">
            <h1>Edit Profile</h1>

            <form action="/profile/edit" method="POST" enctype="multipart/form-data">
                <label for="username" class="sr-only">Username:</label>
                <input type="text" name="username" value="<%= user.username %>" placeholder="Username">

                <label for="firstName" class="sr-only">Name:</label>
                <input type="text" name="firstName" value="<%= user.firstName %>" placeholder="First Name">
                
                <label for="lastName" class="sr-only">Surname:</label>
                <input type="text" name="lastName" value="<%= user.lastName %>" placeholder="Surname">
                
                <% if (user.role === 'student') { %>
                    <label for="course" class="sr-only">Year:</label>
                    <select name="course" id="course">
                      <option value="" disabled selected>Select your Year</option> <!-- Opción de mensaje -->
                      <option value="Year 1" <%= user.course === 'Year 1' ? 'selected' : '' %>>Year 1</option>
                      <option value="Year 2" <%= user.course === 'Year 2' ? 'selected' : '' %>>Year 2</option>
                      <option value="Year 3" <%= user.course === 'Year 3' ? 'selected' : '' %>>Year 3</option>
                      <option value="Year 4" <%= user.course === 'Year 4' ? 'selected' : '' %>>Year 4</option>
                      <option value="Year 5" <%= user.course === 'Year 5' ? 'selected' : '' %>>Year 5</option>
                      <option value="Year 6" <%= user.course === 'Year 6' ? 'selected' : '' %>>Year 6</option>
                    </select>
                <% } %>

                <label for="email" class="sr-only">Email</label>
                <input type="email" name="email" value="<%= user.email %>" id="email" placeholder="Email">

                <label for="profilePicture">User´s Photo:</label>
                <input type="file" name="profilePicture">

                <!-- Botón para restablecer la imagen por defecto -->
                <button type="button" id="resetPhotoButton">Reset Photo to Default</button>
                
                <button type="submit">Save</button>
            </form>
        </section>
        
        <script>
            // Al presionar el botón "Restablecer Foto por Defecto"
            document.getElementById('resetPhotoButton').addEventListener('click', function () {
                // Crear un formulario oculto para enviar la solicitud de restablecimiento
                const form = document.createElement('form');
                form.method = 'POST';
                form.action = '/profile/reset-photo';
        
                document.body.appendChild(form);
                form.submit(); // Enviar el formulario
            });
        </script>
    </main>
    <footer>
        <p>Copyright © 2024 - Leiva Martín R.</p>
        <p><span class="icon-envelope"></span>englishcultivatehub@gmail.com &emsp;|| &emsp;<span class="icon-whatsapp"></span>(3482)-666150</p> 
        <div class="redes">
            <img class="logo-escuela" src="/img/logo_escuela.jpeg" alt="logo_escuela">
            <img class="escuela" src="/img/agrotecnica.jpg" alt="Escuela">
            <div class="iconos">
                <a href="https://www.facebook.com/groups/174789172685781" target="_blank" class="icon-facebook2"></a>
                <a href="https://www.instagram.com/agro487cas/?hl=es-la" target="_blank" class="icon-instagram"></a>
            </div>
        </div>
    </footer>
</body>
</html>