<!DOCTYPE html>
<html lang="en" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Leiva Martin">
    <title>User List</title>
    <link rel="icon" type="segador.png" href="/img/tractores.png">
    <link rel="stylesheet" href="/css/users.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/font/iconos.css">
    <!-- SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

</head>
<body>
    <header class="cabecera">
        <div class="logo-container">
            <a href="/dashboard">
                <img id="logo" src="/img/logo.png" alt="logo">
            </a>
            <img id="nombre_pagina" src="/img/nombre_pagina.png" alt="">
        </div>
        <div class="user-menu">
            <% if (user.profilePicture) { %>
                <img src="<%= user.profilePicture %>" alt="Profile Pic" class="profile-pic-avatar">
            <% } else { %>
                <img id="user-avatar" src="/img/pngwing.png" alt="Profile Pic">
            <% } %>
            <div class="dropdown-content">
                <p class="userName"><%= user.username %></p>
                <p class="userRole"><%= user.role %></p>
                <a href="/users/profile">Profile</a>
                <% if (user.role === 'student') { %>
                    <a href="/users/grades">Grades</a>
                <% } %>
                <% if (user.role === 'teacher') { %>
                    <a href="/question-bank">Create Exam</a>
                    <a href="/users/userList">Registration List</a>
                    <a href="/users/teacher-grades">Grades</a>
                <% } %>
                <a href="/api/auth/logout">Log Out</a>
            </div>
        </div>
    </header>
    <nav id='menu'>
        <input type='checkbox' id='responsive-menu'><label></label>
        <ul>
            <li><a href='/classes/first'>1st YEAR</a></li>
            <li><a href='/classes/second'>2nd YEAR</a></li>
            <li><a href='/classes/third'>3rd YEAR</a></li>
            <li><a href='/classes/fourth'>4th YEAR</a></li>
            <li><a href='/classes/fifth'>5th YEAR</a></li>
            <li><a href='/classes/sixth'>6th YEAR</a></li>
            <li><a href='/select-exam'>Interactive Tests</a></li>
        </ul>
    </nav>
    <main class="user-list">
        <section class="filter-list">
            <h1>Registered Users</h1>
            <form action="/users/userList" method="GET">
                <select name="filterCourse" id="course">
                    <option value="">Filter by Year</option>
                    <% users.map(u => u.course)
                        .filter((v, i, a) => v && a.indexOf(v) === i)  // Filtrar cursos únicos y no vacíos
                        .sort((a, b) => a.localeCompare(b))            // Ordenar de manera ascendente
                        .forEach(course => { %>
                    <option value="<%= course %>"><%= course %></option>
                    <% }) %>
                </select>
                <select name="filterRole">
                    <option value="">Filter by Role</option>
                    <option value="student">Student</option>
                    <option value="teacher">Teacher</option>
                </select>
                <button type="submit">Filter</button>
                <button type="button" onclick="window.location.href='/users/userList';">Clear Filters</button>

            </form>
        </section>

        <section class="registration-list">
            <table>
                <thead>
                    <tr>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Year</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>User Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                        <tr>
                            <td><%= user.lastName %></td>
                            <td><%= user.firstName %></td>
                            <td><%= user.course %></td>
                            <td><%= user.username %></td>
                            <td><%= user.email %></td>
                            <td><%= user.role %></td>
                            <td>
                                <form id="delete-form-<%= user._id %>" action="/users/userList/<%= user._id %>?_method=DELETE" method="POST">
                                    <button id="deletebtn" type="button" onclick="confirmDeletion(event, '<%= user._id %>')">Delete</button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>
        <!-- SweetAlert JS -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/js/deleteAlert.js"></script>
    </main>
    <footer>
        <p>Copyright © 2024 - Leiva Martín R.</p>
        <p><span class="icon-envelope"></span>englishcultivatehub@gmail.com &emsp;|| &emsp;<span class="icon-whatsapp"></span>(3482)-666150</p> 
        <div class="redes">
            <img class="logo-escuela" src="/img/logo_escuela.jpeg" alt="logo_escuela">
            <img class="escuela" src="/img/agrotecnica.jpg" alt="Escuela">
            <div class="iconos">
                <a href="https://www.facebook.com/groups/174789172685781" target="_blank" class="icon-facebook2"></a>
                <a href="https://www.instagram.com/agro487cas/?hl=es-la" target="_blank" class="icon-instagram"></a>
            </div>
        </div>
    </footer>
</body>
</html>